body {
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cabecera {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro de la cabecera */
    color: white;
    background-color: #333; /* Color de fondo por defecto */
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 10px; /* Agrega padding si es necesario */
}

.imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.imagen-container {
    width: 18%;
    margin: 10px;
}

.imagen-container img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.descripcion {
    display: flex;
    justify-content: center; /* Centra los elementos dentro de .descripcion */
    align-items: center; /* Asegura que se centren verticalmente */
    text-align: center; /* Centra el texto dentro de la descripción */
    font-size: 1rem;
    padding: 15px; /* Puedes ajustar este padding según sea necesario */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Estilos para pantallas con ancho máximo de 768px (celulares y tablets) */
@media (max-width: 768px) {
    .cabecera {
        flex-direction: column; /* Cambia a columna para dispositivos pequeños */
        font-weight: 100;
        gap: 2%;
        background-color: #333; /* Mantiene el color de fondo */
        margin: 0; /* Elimina márgenes */
        padding: 10px; /* Agrega padding si es necesario */
        text-align: center; /* Asegura que el texto esté centrado */
    }

    .imagenes {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: center; /* Centra elementos */
        padding: 10px;
    }

    .imagen-container {
        width: 80%; /* Las imágenes ocuparán el 80% del ancho de la pantalla */
        margin: 10px 0; /* Margen vertical */
    }

    .descripcion {
        display: flex;
        flex-direction: column; /* Mantiene la dirección vertical */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        margin: 10px 0; /* Ajusta margen vertical */
    }

    footer {
        position: relative; /* Cambia a relativa para que esté debajo del contenido */
        padding: 10px;
    }
}
